table{
    border-collapse: collapse;
}

td{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}

td.black{
 color: white;
 background: black;
}